<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/>
<meta name="author" content="author"/>
<link rel="stylesheet" type="text/css" href="estatico/default.css" media="screen"/>
<title>{{ title }}</title>
</head>
<body>

<div class="header">
	<h1>{{ cabecera }}</h1>
</div>

<div class="navigation">
	<a href="/annotated/">Barra</a>
	<a href="/">Barra a secas</a>
	<a href="index.html"></a>
	<a href="index.html"></a>
	<a href="index.html"></a>
	<div class="clearer"><span></span></div>
</div>

<div class="container">
	<div class="content">

		<h1>{{ content | safe }}</h1>

		<div class="divider"></div>


	</div>

	<div class="footer">
		&copy; 2006 <a href="index.html">Website</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a>. Design by <a href="http://arcsin.se">Arcsin</a>
	</div>

</div>

</body>
</html>
